# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://how2doks_db_user:K769594s@capstone.ieqwpxm.mongodb.net/beeshub?appName=capstone&retryWrites=true&w=majority

# Admin Login Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Official Merchant UPI ID (for dynamic QR & Intent payments)
NEXT_PUBLIC_MERCHANT_UPI_ID=beeshubfarmland@upi
